/**
* 8.0 Media Queries
 * ----------------------------------------------------------------------------
 */
@import url("../shoptown/responsive.css");

 @media only screen and (min-width: 1200px) and (max-width: 1280px) {
.header-search { width: 600px;}
.header-search input[type="text"], .header-search input[type="search"] { width: 340px;}
.serviceblock{width: 270px;}
}

 @media only screen and (min-width: 1024px) and (max-width: 1200px) {
.header-search { width: 470px;}
.header-search input[type="text"], .header-search input[type="search"] { width: 210px;}
.serviceblock {  width: 234px;}
}

 @media only screen and (min-width: 980px) and (max-width: 1023px) {
 .mega-menu ul li a { padding: 20px 25px;}
.header-search { width: 440px;}
.header-search input[type="text"], .header-search input[type="search"] { width: 180px;}
.serviceblock {  width: 224px;}
.parent-cmsblock .cms-banner2 .static-wrapper .static-inner { padding: 14px 10px;}
}
 @media only screen and (max-width: 979px) {
.quick-access{ margin: 8px 20px!important;}
.navbar.navigation-inner { float: none;}
.parent-cmsblock .cms-banner1 .text1.static-text,.parent-cmsblock .cms-banner1.left-banner-side .text2.static-text{ font-size: 20px;}
.parent-cmsblock .cms-banner2 .static-wrapper .static-inner { padding: 6px 10px!important;}
.parent-cmsblock .cms-banner2 .text1.static-text,.parent-cmsblock .cms-banner2 .text2.static-text{font-size: 15px;!important}
.parent-cmsblock .cms-banner2 .text3.static-text{font-size: 12px!important;}
.mega-menu ul li a, .mobile-menu ul li a{ color:#333;}
.mega-menu ul li a:hover, .mobile-menu ul li a:hover {  color: #ff138c;}
.box-category-heading::before{ color:#333;}
.parent-cmsblock .cms-banner1 .static-inner{top: 25%;}
}
 @media only screen and (max-width: 767px) {
.main-content.home-page.full-width.box-page {margin: 0!important;}
.parent-cmsblock .cms-banner1 .text1.static-text,.parent-cmsblock .cms-banner1.left-banner-side .text2.static-text{ font-size: 18px!important;margin-bottom: 5px;}
.parent-cmsblock .cms-banner1 .text2.static-text{margin-bottom: 5px;}
}
 @media only screen and (max-width: 640px) {

.parent-cmsblock .one_fourth,.parent-cmsblock .three_fourth,.cms-banner-item.cms-banner1.left,.cms-banner-item.cms-banner1.right,.cms-banner-item.cms-banner2{ width:100%; padding:0; margin:0 0 20px;}	
.parent-cmsblock .cms-banner2 .static-wrapper .static-inner { padding: 20px 10px !important;}
}
 @media only screen and (max-width: 479px) {
 .quick-access { margin: 0!important;}
}