/*
Theme Name: shoptown_food
Description: Adds support for languages written in a Right To Left (RTL) direction.
It's easy, just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

See: https://codex.wordpress.org/Right_to_Left_Language_Support
*/

@import url("../shoptown/rtl.css");

.navbar.navigation-inner {  float: right;}


@media only screen and (min-width: 980px) and (max-width: 1023px) {
.header-center{margin-right: 0 !important;  padding-right: 0 !important;}
}